
*.asv

/Simulink/Project 2/Helpers/assignSection.m

/Simulink/Project 3/SpringMotorModel.hex

/Simulink/Project 3/SpringMotorModel.elf

/Simulink/Project 3/SpringMotorModel.eep

*.slxc

*.r2023b

/Simulink/SpringMotorModel.eep

/Simulink/SpringMotorModel.elf

/Simulink/SpringMotorModel.hex

/Simulink/slprj/

/Simulink/SpringMotorModel_ert_rtw/
